# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environment
# ========================
venv/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# Data 
# ========================
data/

# ========================
# IDE / Editors
# ========================
.vscode/
.idea/

# ========================
# Secrets / env
# ========================
.env
.env.*

# ========================
# System files
# ========================
.DS_Store
Thumbs.db
